body{
    background-color: whitesmoke;
}

h1{
    text-align: center;
    text-transform: capitalize;
    color: white;

    width: 1250px;
    background-color: #1b1e1f;
    border:  1px solid #333333;

    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
}

.barra{
    width: 1250px;
    margin: 0 auto;
    margin-bottom: 140px;
}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 11px solid #2B2F30;
    float: left;
}

.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 11px solid #2B2F30;
    float: right;
}