body{
    background-color: whitesmoke;
}

footer{
    text-align: center;
    text-transform: capitalize;
    color: white;

    width: 1250px;
    background-color: #1b1e1f;
    border:  1px solid #333333;

    margin: 0 auto;
    float: center;
}

footer > h4{
    float: center;
    text-align: center;
}

/*efecto 3d  en el h1*/

h1{
    text-align: center;
    text-transform: capitalize;
    color: white;

    width: 1250px;
    background-color: #1b1e1f;
    border:  1px solid #333333;

    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
}

.barra{
    width: 1250px;
    margin: 0 auto;
}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2B2F30;
    float: left;
}

.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2B2F30;
    float: right;
}

.relleno-barra{
    display: block;
    width: 1210px;
    height: 10px;
    background-color: #2B2F30;
    float: left;

}

/*contenido*/

h2{
    text-transform: capitalize;
}

.texto{
    width: 1210px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;

    background: white;
    padding: 20px;
    border: 1px solid #ddd;

}

img{
    padding-top: 20px;
    padding-bottom: 40px;
    width: 450px;
    height: 250px;
}

#img1{
    padding-right: 5px;
}

#img2{
    
    margin-top: 10px;
}

#img3{
    padding-right: 100px;
}

#competencia{
    display: block;
    float: right;
    
}

#perfil{
    float: right;
    margin-right: 50px; 
    padding-right: 70px;

}

#caracteristicas{
    padding-bottom: 70px;
    float: right;
    padding-right: 420px;

}

#caracteristicas > hr{
    width: 500px;   

}